@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Book>

<div class="text-center">
    <h1 class="display-4">Welcome to Budget Amazon</h1>
    <p>Your one-stop shop for buying books online for a price probably higher than what you can find on Amazon</p>
</div>

<h4 class="bg-primary text-white text-center">Books Currently in Our Inventory</h4>
<div>
    <!--This is the table with the proper headers containing all of the restaurants currently in memory-->
    <table>
        <thead>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>ISBN</th>
        <th>Classification</th>
        <th>Category</th>
        <th>Price</th>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
            <tr>
                <td>@x.Title</td>
                <td>@x.Author</td>
                <td>@x.Publisher</td>
                <td>@x.ISBN</td>
                <td>@x.Class</td>
                <td>@x.Cat</td>
                <td>@x.Price</td>
            </tr>
            }
        </tbody>
    </table>
</div>